name: Build Go
on:
  push:
    branches: [ 'main', 'master', 'feature/*' ]
    tags: [ 'v*' ]

permissions:
  contents: write
  packages: write
  # id-token is required for attestation (signing)
  id-token: write
  attestations: write
  artifact-metadata: write

jobs:
  build:
    uses: jimschubert/.workflows/.github/workflows/go-build-goreleaser.yml@main
    with:
      golangci-lint-version: "v2.7.2"
    secrets: inherit
